# Nexys3 User Constraints File

## Clock signal
NET "clk" LOC = V10;
NET "clk" IOSTANDARD = LVCMOS33;
NET "clk" TNM_NET = "sys_clk_pin";
TIMESPEC TS_sys_clk_pin = PERIOD "sys_clk_pin" 100000 KHz;

## Leds
NET "err_head" LOC = "U16" | IOSTANDARD = "LVCMOS33"; # LED0
NET "err_tail" LOC = "V16" | IOSTANDARD = "LVCMOS33"; # LED1


## Switches
NET "encry_code[0]" LOC = "T10" | IOSTANDARD = "LVCMOS33"; # SW0
NET "encry_code[1]" LOC = "T9"  | IOSTANDARD = "LVCMOS33"; # SW1
NET "encry_code[2]" LOC = "V9"  | IOSTANDARD = "LVCMOS33"; # SW2
NET "encry_code[3]" LOC = "M8"  | IOSTANDARD = "LVCMOS33"; # SW3
NET "encry_code[4]" LOC = "N8"  | IOSTANDARD = "LVCMOS33"; # SW4
NET "encry_code[5]" LOC = "U8"  | IOSTANDARD = "LVCMOS33"; # SW5
NET "encry_code[6]" LOC = "V8"  | IOSTANDARD = "LVCMOS33"; # SW6
NET "encry_code[7]" LOC = "T5"  | IOSTANDARD = "LVCMOS33"; # SW7

## Buttons
NET "reset" LOC = "D9"  | IOSTANDARD = "LVCMOS33"; # BTN4

######
NET "pc_rx" LOC = N17;
NET "pc_tx" LOC = N18;

NET "neighbor_rx" LOC = T12;
NET "neighbor_tx" LOC = M10;

NET "neighbor_rx" LOC = K2;
NET "neighbor_tx" LOC = J3;

NET "neighbor_rx" LOC = H3;
NET "neighbor_tx" LOC = G1;

NET "neighbor_rx" LOC = G11;
NET "neighbor_tx" LOC = D12;