//! **************************************************************************
// Written by: Map P.20131013 on Sun Mar 30 18:35:43 2014
//! **************************************************************************

SCHEMATIC START;
COMP "rx" LOCATE = SITE "N17" LEVEL 1;
COMP "tx" LOCATE = SITE "N18" LEVEL 1;
COMP "clk" LOCATE = SITE "V10" LEVEL 1;
COMP "reset" LOCATE = SITE "T10" LEVEL 1;
TIMEGRP sys_clk_pin = BEL "baud_gen_unit/r_reg_0" BEL "baud_gen_unit/r_reg_1"
        BEL "baud_gen_unit/r_reg_2" BEL "baud_gen_unit/r_reg_3" BEL
        "baud_gen_unit/r_reg_4" BEL "baud_gen_unit/r_reg_5" BEL
        "uart_rx_unit/state_reg_FSM_FFd1" BEL
        "uart_rx_unit/state_reg_FSM_FFd2" BEL "uart_rx_unit/n_reg_2" BEL
        "uart_rx_unit/n_reg_1" BEL "uart_rx_unit/n_reg_0" BEL
        "uart_rx_unit/s_reg_3" BEL "uart_rx_unit/s_reg_2" BEL
        "uart_rx_unit/s_reg_1" BEL "uart_rx_unit/s_reg_0" BEL
        "uart_rx_unit/b_reg_7" BEL "uart_rx_unit/b_reg_6" BEL
        "uart_rx_unit/b_reg_5" BEL "uart_rx_unit/b_reg_4" BEL
        "uart_rx_unit/b_reg_3" BEL "uart_rx_unit/b_reg_2" BEL
        "uart_rx_unit/b_reg_1" BEL "uart_rx_unit/b_reg_0" BEL
        "uart_trans_unit/state_FSM_FFd1" BEL "uart_trans_unit/state_FSM_FFd2"
        BEL "uart_trans_unit/state_FSM_FFd3" BEL "uart_trans_unit/tx_din_7"
        BEL "uart_trans_unit/tx_din_6" BEL "uart_trans_unit/tx_din_5" BEL
        "uart_trans_unit/tx_din_4" BEL "uart_trans_unit/tx_din_3" BEL
        "uart_trans_unit/tx_din_2" BEL "uart_trans_unit/tx_din_1" BEL
        "uart_trans_unit/tx_din_0" BEL "uart_trans_unit/p_3" BEL
        "uart_trans_unit/p_2" BEL "uart_trans_unit/p_1" BEL
        "uart_trans_unit/p_0" BEL "uart_trans_unit/tx_start" BEL
        "uart_tx_unit/state_reg_FSM_FFd1" BEL
        "uart_tx_unit/state_reg_FSM_FFd2" BEL "uart_tx_unit/n_reg_2" BEL
        "uart_tx_unit/n_reg_1" BEL "uart_tx_unit/n_reg_0" BEL
        "uart_tx_unit/s_reg_3" BEL "uart_tx_unit/s_reg_2" BEL
        "uart_tx_unit/s_reg_1" BEL "uart_tx_unit/s_reg_0" BEL
        "uart_tx_unit/b_reg_7" BEL "uart_tx_unit/b_reg_6" BEL
        "uart_tx_unit/b_reg_5" BEL "uart_tx_unit/b_reg_4" BEL
        "uart_tx_unit/b_reg_3" BEL "uart_tx_unit/b_reg_2" BEL
        "uart_tx_unit/b_reg_1" BEL "uart_tx_unit/b_reg_0" BEL
        "uart_tx_unit/tx_reg" BEL "uart_trans_unit/buff_0_7" BEL
        "uart_trans_unit/buff_0_6" BEL "uart_trans_unit/buff_0_5" BEL
        "uart_trans_unit/buff_0_4" BEL "uart_trans_unit/buff_0_3" BEL
        "uart_trans_unit/buff_0_2" BEL "uart_trans_unit/buff_0_1" BEL
        "uart_trans_unit/buff_0_0" BEL "uart_trans_unit/buff_2_7" BEL
        "uart_trans_unit/buff_2_6" BEL "uart_trans_unit/buff_2_5" BEL
        "uart_trans_unit/buff_2_4" BEL "uart_trans_unit/buff_2_3" BEL
        "uart_trans_unit/buff_2_2" BEL "uart_trans_unit/buff_2_1" BEL
        "uart_trans_unit/buff_2_0" BEL "uart_trans_unit/buff_3_7" BEL
        "uart_trans_unit/buff_3_6" BEL "uart_trans_unit/buff_3_5" BEL
        "uart_trans_unit/buff_3_4" BEL "uart_trans_unit/buff_3_3" BEL
        "uart_trans_unit/buff_3_2" BEL "uart_trans_unit/buff_3_1" BEL
        "uart_trans_unit/buff_3_0" BEL "uart_trans_unit/buff_1_7" BEL
        "uart_trans_unit/buff_1_6" BEL "uart_trans_unit/buff_1_5" BEL
        "uart_trans_unit/buff_1_4" BEL "uart_trans_unit/buff_1_3" BEL
        "uart_trans_unit/buff_1_2" BEL "uart_trans_unit/buff_1_1" BEL
        "uart_trans_unit/buff_1_0" BEL "uart_trans_unit/buff_5_7" BEL
        "uart_trans_unit/buff_5_6" BEL "uart_trans_unit/buff_5_5" BEL
        "uart_trans_unit/buff_5_4" BEL "uart_trans_unit/buff_5_3" BEL
        "uart_trans_unit/buff_5_2" BEL "uart_trans_unit/buff_5_1" BEL
        "uart_trans_unit/buff_5_0" BEL "uart_trans_unit/buff_6_7" BEL
        "uart_trans_unit/buff_6_6" BEL "uart_trans_unit/buff_6_5" BEL
        "uart_trans_unit/buff_6_4" BEL "uart_trans_unit/buff_6_3" BEL
        "uart_trans_unit/buff_6_2" BEL "uart_trans_unit/buff_6_1" BEL
        "uart_trans_unit/buff_6_0" BEL "uart_trans_unit/buff_4_7" BEL
        "uart_trans_unit/buff_4_6" BEL "uart_trans_unit/buff_4_5" BEL
        "uart_trans_unit/buff_4_4" BEL "uart_trans_unit/buff_4_3" BEL
        "uart_trans_unit/buff_4_2" BEL "uart_trans_unit/buff_4_1" BEL
        "uart_trans_unit/buff_4_0" BEL "uart_trans_unit/buff_8_7" BEL
        "uart_trans_unit/buff_8_6" BEL "uart_trans_unit/buff_8_5" BEL
        "uart_trans_unit/buff_8_4" BEL "uart_trans_unit/buff_8_3" BEL
        "uart_trans_unit/buff_8_2" BEL "uart_trans_unit/buff_8_1" BEL
        "uart_trans_unit/buff_8_0" BEL "uart_trans_unit/buff_9_7" BEL
        "uart_trans_unit/buff_9_6" BEL "uart_trans_unit/buff_9_5" BEL
        "uart_trans_unit/buff_9_4" BEL "uart_trans_unit/buff_9_3" BEL
        "uart_trans_unit/buff_9_2" BEL "uart_trans_unit/buff_9_1" BEL
        "uart_trans_unit/buff_9_0" BEL "uart_trans_unit/buff_7_7" BEL
        "uart_trans_unit/buff_7_6" BEL "uart_trans_unit/buff_7_5" BEL
        "uart_trans_unit/buff_7_4" BEL "uart_trans_unit/buff_7_3" BEL
        "uart_trans_unit/buff_7_2" BEL "uart_trans_unit/buff_7_1" BEL
        "uart_trans_unit/buff_7_0" BEL "uart_trans_unit/buff_10_7" BEL
        "uart_trans_unit/buff_10_6" BEL "uart_trans_unit/buff_10_5" BEL
        "uart_trans_unit/buff_10_4" BEL "uart_trans_unit/buff_10_3" BEL
        "uart_trans_unit/buff_10_2" BEL "uart_trans_unit/buff_10_1" BEL
        "uart_trans_unit/buff_10_0" BEL "uart_trans_unit/buff_11_7" BEL
        "uart_trans_unit/buff_11_6" BEL "uart_trans_unit/buff_11_5" BEL
        "uart_trans_unit/buff_11_4" BEL "uart_trans_unit/buff_11_3" BEL
        "uart_trans_unit/buff_11_2" BEL "uart_trans_unit/buff_11_1" BEL
        "uart_trans_unit/buff_11_0" BEL "uart_trans_unit/buff_13_7" BEL
        "uart_trans_unit/buff_13_6" BEL "uart_trans_unit/buff_13_5" BEL
        "uart_trans_unit/buff_13_4" BEL "uart_trans_unit/buff_13_3" BEL
        "uart_trans_unit/buff_13_2" BEL "uart_trans_unit/buff_13_1" BEL
        "uart_trans_unit/buff_13_0" BEL "uart_trans_unit/buff_14_7" BEL
        "uart_trans_unit/buff_14_6" BEL "uart_trans_unit/buff_14_5" BEL
        "uart_trans_unit/buff_14_4" BEL "uart_trans_unit/buff_14_3" BEL
        "uart_trans_unit/buff_14_2" BEL "uart_trans_unit/buff_14_1" BEL
        "uart_trans_unit/buff_14_0" BEL "uart_trans_unit/buff_12_7" BEL
        "uart_trans_unit/buff_12_6" BEL "uart_trans_unit/buff_12_5" BEL
        "uart_trans_unit/buff_12_4" BEL "uart_trans_unit/buff_12_3" BEL
        "uart_trans_unit/buff_12_2" BEL "uart_trans_unit/buff_12_1" BEL
        "uart_trans_unit/buff_12_0" BEL "uart_trans_unit/buff_15_7" BEL
        "uart_trans_unit/buff_15_6" BEL "uart_trans_unit/buff_15_5" BEL
        "uart_trans_unit/buff_15_4" BEL "uart_trans_unit/buff_15_3" BEL
        "uart_trans_unit/buff_15_2" BEL "uart_trans_unit/buff_15_1" BEL
        "uart_trans_unit/buff_15_0" BEL "uart_trans_unit/p_1_1" BEL
        "uart_trans_unit/p_0_1" BEL "uart_trans_unit/p_1_2" BEL
        "clk_BUFGP/BUFG";
TS_sys_clk_pin = PERIOD TIMEGRP "sys_clk_pin" 100 MHz HIGH 50%;
SCHEMATIC END;

